* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #2C1B47;
}

main {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
p,
a,
h2{
    color: white;
}

h1 {
    text-align: center;
    font-size: 6rem;
}

span {
    display: block;

}

p,h2 {
    padding-top: 2rem;
    font-size: 3rem;
    text-align: center;
}

.social-media{
    padding-top:3rem;
    font-size: 4rem;
}

.facebook{
    padding-right:.5rem;

}
/*  */

form {
    max-width: 800px;
    padding:1rem;
   
}

#name {
    margin-top: 3rem;
}

#name,
#email,
#message {
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    border: 2px solid black;
    font-size: 2rem;
    
}

 button {
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    width: 50%;
    max-width: 20rem;
    background-color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
}


 button::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: scaleX(0);
    transition: .3s ease-in;
    background-color: blueviolet;
}

 button:hover::before {
    transform: scaleX(1);
    
}

button:hover{
    color:white; 
}
